* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}

body {
  background-color: #ffff;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-items: center;
  position: sticky;
  background-color: #ffff;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  content: url("/assets/images/logo_black.png");
  float: left;
  height: 30px;
  width: 40px;
}

nav {
  float: right;
}

nav a {
  color: black;
  font-weight: 500;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: #000;
  border-bottom: 2px solid #000;
}

.hero {
  text-align: center;
  padding: 4rem 2rem 2rem;
}

.hero .info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.hero h2 {
  font-size: 1rem;
}

.hero .my-image {
  content: url("/assets/images/Akhona.jpg");
  height: 250px;
  width: 250px;
  justify-self: center;
  margin-top: 2rem;
  clip-path: polygon(50% 0%, 93% 10%, 90% 90%, 50% 100%, 7% 90%, 10% 10%);
}

.hero button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.hero button:hover {
  background-color: #dcdcdc;
}
