.logo {
  content: url("/assets/images/logo_black.png");
  float: left;
  height: 30px;
  width: 40px;
}

nav {
  float: right;
}

nav a {
  color: black;
  font-weight: 500;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: #000;
  border: 2px solid #000;
}
