* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}

body {
  background-color: #ffff;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-items: center;
  position: sticky;
  background-color: #ffff;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  content: url("/assets/images/logo_black.png");
  float: left;
  height: 30px;
  width: 40px;
}

nav {
  float: right;
}

nav a {
  color: black;
  font-weight: 500;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: #000;
  border-bottom: 2px solid #000;
}

/******************************* Hero Section ********************************/
.hero {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 4rem 1rem;
}

.hero .info h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.hero .info h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0f172b;
  margin-bottom: 1rem;
  text-align: left;
}

.hero .info p {
  color: #62748e;
  margin-bottom: 1.5rem;
  text-align: left;
}

.hero .info .buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  .btn {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    min-height: 40px;
  }

  .btn-primary {
    background: #1e293b;
    color: #f1f5f9;
  }

  .btn-secondary {
    background: #f1f5f9;
    color: #000;
  }

  button:hover {
    background: #cbd5e1;
  }

}

.hero .info .socials {
  display: flex;
  gap: 1rem;

  a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f5f9;
  }

  a:hover {
    background: #cbd5e1;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.hero .my-image {
  display: flex;
  justify-content: center;

  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
  }
}

/******************************* About Section ********************************/
.about {
  background-color: #f1f5f9;
  padding: 1rem 1rem;
  justify-content: space-between;
  margin: auto;
  gap: 20px;
  flex-wrap: wrap;
}

.about .info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: start;
  gap: 30px;
}

.about .info h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0f172b;
  margin-bottom: 1rem;
  text-align: left;
}

.about .info p {
  color: #555;
  font-size: 1rem;
}

.about .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .image img {
  max-width: 320px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.about .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 1.5rem;
}

.about .cards .card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.about .cards .card:hover {
  transform: translateY(-5px);
}

.about .cards .card h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.about .cards .card img {
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
}

.about .cards .card p {
  color: #555;
  font-size: 1rem;
}

/******************************* Responsive ********************************/
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .buttons,
  .socials {
    justify-content: center;
  }
}